<header class="site-header" role="banner">

    <div class="wrapper">
        {%- assign default_paths = site.pages | map: "path" -%}
        {%- assign page_paths = site.header_pages | default: default_paths -%}
        <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

        <nav class="site-nav">
            <div class="trigger">
                <a class="page-link" href="/people/">People</a>
                <a class="page-link" href="/corporations/">Corporations</a>
                <a class="page-link" href="/players/">Players</a>
                <a class="page-link" href="/lore/">Lore</a>
                <a class="page-link" href="/session_recaps/">Recaps</a>
            </div>
        </nav>
    </div>
</header>